数据清洗- Pandas 清洗“脏”数据（一）

In [1]:
import pandas as pd
import numpy as np 

data = pd.read_csv('movie_metadata.csv')
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [5]:
data.isnull().sum().sort_values(ascending=False)

gross                        884
budget                       492
aspect_ratio                 329
content_rating               303
plot_keywords                153
title_year                   108
director_name                104
director_facebook_likes      104
num_critic_for_reviews        50
actor_3_name                  23
actor_3_facebook_likes        23
num_user_for_reviews          21
color                         19
duration                      15
facenumber_in_poster          13
actor_2_name                  13
actor_2_facebook_likes        13
language                      12
actor_1_name                   7
actor_1_facebook_likes         7
country                        5
movie_facebook_likes           0
genres                         0
movie_title                    0
num_voted_users                0
movie_imdb_link                0
imdb_score                     0
cast_total_facebook_likes      0
dtype: int64

In [14]:
data.dropna()
data.dropna(subset=['title_year'])

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [20]:
data.dropna(how='any',axis=1)

,genres,movie_title,num_voted_users,cast_total_facebook_likes,movie_imdb_link,imdb_score,movie_facebook_likes
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,886204,4834,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,7.9,33000
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,471220,48350,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,7.1,0
2,Action|Adventure|Thriller,Spectre,275868,11700,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,6.8,85000
3,Action|Thriller,The Dark Knight Rises,1144337,106759,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,8.5,164000
4,Documentary,Star Wars: Episode VII - The Force Awakens ...,8,143,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,7.1,0
...,...,...,...,...,...,...,...
5038,Comedy|Drama,Signed Sealed Delivered,629,2283,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,7.7,84
5039,Crime|Drama|Mystery|Thriller,The Following,73839,1753,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,7.5,32000
5040,Drama|Horror|Thriller,A Plague So Pleasant,38,0,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,6.3,16
5041,Comedy|Drama|Romance,Shanghai Calling,1255,2386,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,6.3,660
5042,Documentary,My Date with Drew,4285,163,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,6.6,456

In [24]:
data['movie_title'].str.upper()

0                                                 AVATAR
1               PIRATES OF THE CARIBBEAN: AT WORLD'S END
2                                                SPECTRE
3                                  THE DARK KNIGHT RISES
4       STAR WARS: EPISODE VII - THE FORCE AWAKENS    ...
                              ...
5038                             SIGNED SEALED DELIVERED
5039                           THE FOLLOWING
5040                                A PLAGUE SO PLEASANT
5041                                    SHANGHAI CALLING
5042                                   MY DATE WITH DREW
Name: movie_title, Length: 5043, dtype: object

In [28]:
data['movie_title'].str.strip()
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

数据清洗- Pandas 清洗“脏”数据（二）

In [30]:
df = pd.read_csv('patient_heart_rate.csv')
df

      1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0   2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1   3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2   4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3   5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4   6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5   7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6   8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7   NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
9  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87

In [32]:
columns_names=['id','name','age','weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('patient_heart_rate.csv',names=columns_names)
df

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87

In [ ]:
# 切分名字，删除源数据列
df[['first_name', 'last_name']] = df.name.str.split(" ", expand=True)  #括号中的‘-’是分割依据的字符串 
df.drop('name', axis=1, inplace=True)

In [50]:
df.dropna(how='all')

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,first_name,last_name
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
9,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
10,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck

In [52]:
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)
df[rows_with_lbs]

,id,age,weight,m0006,m0612,m1218,f0006,f0612,f1218,first_name,last_name
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
9,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck

In [57]:
# 将 lbs 的数据转换为 kgs 数据
for i,lbs_row in df[rows_with_lbs].iterrows():
    weight = int(float(lbs_row['weight'][:-3])/2.2)
    df.at[i,'weight'] = '{}kgs'.format(weight)

In [58]:
df

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 first_name last_name
0    1.0  56.0  70kgs    72    69    71     -     -     -     Mickéy     Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76     Donald      Duck
2    3.0  16.0    NaN     -     -     -    65    69    72       Mini     Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -    Scrooge    McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75       Pink   Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72       Huey    McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75      Dewey    McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -     Scööpy       Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN        NaN       NaN
9    9.0  52.0  85kgs     -     -     -    68    75    72       Huey    McDuck
10  10.0  12.0  45kgs     -     -     -    92    95    87      Louie    McDuck

In [59]:
df.dropna(how='all',inplace=True)

In [60]:
df

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 first_name last_name
0    1.0  56.0  70kgs    72    69    71     -     -     -     Mickéy     Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76     Donald      Duck
2    3.0  16.0    NaN     -     -     -    65    69    72       Mini     Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -    Scrooge    McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75       Pink   Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72       Huey    McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75      Dewey    McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -     Scööpy       Doo
9    9.0  52.0  85kgs     -     -     -    68    75    72       Huey    McDuck
10  10.0  12.0  45kgs     -     -     -    92    95    87      Louie    McDuck

In [61]:
df.drop_duplicates(['first_name','last_name'],inplace=True)

In [62]:
df

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 first_name last_name
0    1.0  56.0  70kgs    72    69    71     -     -     -     Mickéy     Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76     Donald      Duck
2    3.0  16.0    NaN     -     -     -    65    69    72       Mini     Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -    Scrooge    McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75       Pink   Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72       Huey    McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75      Dewey    McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -     Scööpy       Doo
10  10.0  12.0  45kgs     -     -     -    92    95    87      Louie    McDuck

In [63]:
# 删除非 ASCII 字符
df['first_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df['last_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [64]:
df

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 first_name last_name
0    1.0  56.0  70kgs    72    69    71     -     -     -      Micky      Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76     Donald      Duck
2    3.0  16.0    NaN     -     -     -    65    69    72       Mini     Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -    Scrooge    McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75       Pink   Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72       Huey    McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75      Dewey    McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -       Scpy       Doo
10  10.0  12.0  45kgs     -     -     -    92    95    87      Louie    McDuck

In [65]:
# 切分 sex_hour 列为 sex 列和 hour 列
sorted_columns = ['id','age','weight','first_name','last_name']
df = pd.melt(df,
id_vars=sorted_columns,var_name='sex_hour',value_name='puls_rate').sort_values(sorted_columns)
df[['sex','hour']] = df['sex_hour'].apply(lambda x:pd.Series(([x[:1],'{}-{}'.format(x[1:3],x[3:])])))[[0,1]]
df.drop('sex_hour', axis=1, inplace=True)

# 删除没有心率的数据
row_with_dashes = df['puls_rate'].str.contains('-').fillna(False)
df.drop(df[row_with_dashes].index,
inplace=True)

# 重置索引，不做也没关系，主要是为了看着美观一点
df = df.reset_index(drop=True)
print(df)

      id   age weight first_name last_name puls_rate sex   hour
0    1.0  56.0  70kgs      Micky      Mous        72   m  00-06
1    1.0  56.0  70kgs      Micky      Mous        69   m  06-12
2    1.0  56.0  70kgs      Micky      Mous        71   m  12-18
3    2.0  34.0  70kgs     Donald      Duck        85   f  00-06
4    2.0  34.0  70kgs     Donald      Duck        84   f  06-12
5    2.0  34.0  70kgs     Donald      Duck        76   f  12-18
6    3.0  16.0    NaN       Mini     Mouse        65   f  00-06
7    3.0  16.0    NaN       Mini     Mouse        69   f  06-12
8    3.0  16.0    NaN       Mini     Mouse        72   f  12-18
9    4.0   NaN  78kgs    Scrooge    McDuck        78   m  00-06
10   4.0   NaN  78kgs    Scrooge    McDuck        79   m  06-12
11   4.0   NaN  78kgs    Scrooge    McDuck        72   m  12-18
12   5.0  54.0  90kgs       Pink   Panther        69   f  00-06
13   5.0  54.0  90kgs       Pink   Panther       NaN   f  06-12
14   5.0  54.0  90kgs       Pink   Panther        75   f  12-18
15   6.0  52.0  85kgs       Huey    McDuck        68   f  00-06
16   6.0  52.0  85kgs       Huey    McDuck        75   f  06-12
17   6.0  52.0  85kgs       Huey    McDuck        72   f  12-18
18   7.0  19.0  56kgs      Dewey    McDuck        71   f  00-06
19   7.0  19.0  56kgs      Dewey    McDuck        78   f  06-12
20   7.0  19.0  56kgs      Dewey    McDuck        75   f  12-18
21   8.0  32.0  78kgs       Scpy       Doo        78   m  00-06
22   8.0  32.0  78kgs       Scpy       Doo        76   m  06-12
23   8.0  32.0  78kgs       Scpy       Doo        75   m  12-18
24  10.0  12.0  45kgs      Louie    McDuck        92   f  00-06
25  10.0  12.0  45kgs      Louie    McDuck        95   f  06-12
26  10.0  12.0  45kgs      Louie    McDuck        87   f  12-18