In [26]:
import pandas as pd 
import numpy as np
import os
os.chdir(r'D:\Wowode\jupyterlab\data')
df = pd.read_excel('不吹牛-2019-01.xlsx')
print('数据行数:{}'.format(len(df)))
df.head()

数据行数:50

   品牌  品牌搜索人数  点击人数  支付人数
0  七喜     770   590    22
1  万迅    1369   948     0
2  东方    1400   919     2
3  九方     955   531     6
4  佳禾     706   343     2

In [11]:
df=df.sort_values('品牌搜索人数',ascending=False)
df.head()

    品牌  品牌搜索人数   点击人数  支付人数
14  同兴   41000  15519   519
7   凌云   31482  19783  1627
21  思优   30225  15804   502
43  菊风   18662  12686   101
22  恒聪   12525   8102    44

In [12]:
df['搜索人数排名']=df['品牌搜索人数'].rank(ascending=False)
df.head()

    品牌  品牌搜索人数   点击人数  支付人数  搜索人数排名
14  同兴   41000  15519   519     1.0
7   凌云   31482  19783  1627     2.0
21  思优   30225  15804   502     3.0
43  菊风   18662  12686   101     4.0
22  恒聪   12525   8102    44     5.0

In [13]:
df['品牌搜索份额']=df['品牌搜索人数']/df['品牌搜索人数'].sum()
df.head()

    品牌  品牌搜索人数   点击人数  支付人数  搜索人数排名    品牌搜索份额
14  同兴   41000  15519   519     1.0  0.182446
7   凌云   31482  19783  1627     2.0  0.140092
21  思优   30225  15804   502     3.0  0.134498
43  菊风   18662  12686   101     4.0  0.083044
22  恒聪   12525   8102    44     5.0  0.055735

In [14]:
brand ='凌云'
brand_data=df.loc[df['品牌'].str.find(brand)!=-1,:]
brand_data

   品牌  品牌搜索人数   点击人数  支付人数  搜索人数排名    品牌搜索份额
7  凌云   31482  19783  1627     2.0  0.140092

In [15]:
other = df.loc[df['品牌'].str.find(brand)==-1,:]
other_top5 = other.iloc[:5,:]
other_top5

    品牌  品牌搜索人数   点击人数  支付人数  搜索人数排名    品牌搜索份额
14  同兴   41000  15519   519     1.0  0.182446
21  思优   30225  15804   502     3.0  0.134498
43  菊风   18662  12686   101     4.0  0.083044
22  恒聪   12525   8102    44     5.0  0.055735
47  银嘉    8759   5968    41     6.0  0.038977

In [16]:
data = pd.concat([brand_data,other_top5])
data

    品牌  品牌搜索人数   点击人数  支付人数  搜索人数排名    品牌搜索份额
7   凌云   31482  19783  1627     2.0  0.140092
14  同兴   41000  15519   519     1.0  0.182446
21  思优   30225  15804   502     3.0  0.134498
43  菊风   18662  12686   101     4.0  0.083044
22  恒聪   12525   8102    44     5.0  0.055735
47  银嘉    8759   5968    41     6.0  0.038977

In [27]:
result =pd.DataFrame()
for name in os.listdir():
    df = pd.read_excel(name)
    df = df.sort_values('品牌搜索人数',ascending= False)
    df['搜索人数排名'] = df['品牌搜索人数'].rank(ascending=False)
    df['搜索份额'] = df['品牌搜索人数'] / df['品牌搜索人数'].sum()
    brand = '凌云'
    brand_data = df.loc[df['品牌'].str.find(brand) != -1,:]
    
    other = df.loc[df['品牌'].str.find(brand) == -1,:]
    other_top5 = other.iloc[:5,:]
    data = pd.concat([brand_data,other_top5])
    data['日期'] = name[4:-5]
    
    result = pd.concat([result,data])

In [28]:
result.head()

    品牌  品牌搜索人数   点击人数  支付人数  搜索人数排名      搜索份额       日期
7   凌云   31482  19783  1627     2.0  0.140092  2019-01
14  同兴   41000  15519   519     1.0  0.182446  2019-01
21  思优   30225  15804   502     3.0  0.134498  2019-01
43  菊风   18662  12686   101     4.0  0.083044  2019-01
22  恒聪   12525   8102    44     5.0  0.055735  2019-01