In [2]:
import pandas as pd 
import numpy as np 

df = pd.read_excel('./测试成绩表.xlsx')
df.head()

,序号,学籍号,班级,姓名,年龄,性别,出生日期,语文,数学,英语,电话,邮箱,地址
0,319,16930,五4班,王璐,12,M,2010-11-16 22:02:45,13,32,55,18644078842,qiang33@yongping.cn,浙江省潮州县六枝特香港路r座 755168
1,233,15519,五4班,韦玉英,10,F,2012-07-03 22:00:37,44,48,68,15204988144,juan19@ding.cn,江苏省马鞍山县安次张街I座 440803
2,139,16806,五2班,赖雷,9,F,2010-12-23 09:32:32,60,46,96,13422788325,jieding@gmail.com,甘肃省鑫市沈河福州街r座 573483
3,254,15216,五2班,邵宁,9,F,2011-12-11 23:47:04,77,7,100,14557026347,xtao@hotmail.com,上海市兴安盟市城北嘉禾街S座 741765
4,151,15848,五2班,杨龙,9,M,2013-05-13 15:38:12,71,27,63,13420181335,jing05@44.cn,广西壮族自治区成都市西峰黄路Q座 942600

In [37]:
df.loc[df['语文']>90,['语文','数学']]

     语文  数学
8    92  86
24   99  68
27   92  99
44   92  18
68   99  36
78  100  59
86   93  53
88   98   6
95   99  31

In [45]:
df_=df[(df.语文>=80)|(df.数学>90)]

In [48]:
df_.head()

,序号,学籍号,班级,姓名,年龄,性别,出生日期,语文,数学,英语,电话,邮箱,地址
6,332,15153,五2班,奚红,13,M,2010-07-28 12:31:25,80,28,9,14736734088,jlu@hotmail.com,江西省柳州县清河曹街d座 872593
8,83,15972,五2班,苏秀芳,9,M,2010-07-10 14:57:47,92,86,43,13126733388,yanwang@yahoo.com,贵州省静市崇文巢湖街z座 153061
9,309,15687,五3班,李玉兰,11,F,2012-04-14 04:03:06,25,96,80,14565549824,ifan@uw.cn,上海市广州县大兴华路t座 689278
19,126,16422,五4班,邓龙,12,F,2010-08-21 03:24:37,4,94,75,15846575141,junma@lai.cn,台湾省辽阳市浔阳王路q座 370486
23,293,15545,五4班,冯玲,12,F,2011-07-23 11:30:13,48,98,38,18592193264,gang23@81.com,香港特别行政区淮安县花溪嘉禾街D座 116715

In [55]:
df.loc[(df.班级=='五1班')&(df.语文>80)].head()

,序号,学籍号,班级,姓名,年龄,性别,出生日期,语文,数学,英语,电话,邮箱,地址
68,216,16572,五1班,蔡玉珍,12,M,2013-10-26 16:23:56,99,36,41,14705664150,nxiao@gmail.com,湖南省鑫县白云六安街G座 911904
78,268,16226,五1班,杨红霞,9,F,2010-02-22 07:24:52,100,59,28,15244287313,qliang@weina.net,湖南省沈阳县璧山兴安盟街t座 226966

In [169]:
ban=df['班级'].unique()
writer = pd.ExcelWriter('./多条件筛选并保存多sheet.xlsx')
for index in range(len(ban)):
    df['语文']=df.loc[df['语文'] > 70]
    df.loc[df['班级']==ban[index]].to_excel(writer,sheet_name=ban[index],index=False)
writer.save()
writer.close()

In [199]:
import pandas as pd 
import numpy as np 

df = pd.read_excel('./测试成绩表.xlsx')

ban=df['班级'].unique()
writer = pd.ExcelWriter('./多条件筛选并保存多sheet.xlsx')
for index in range(len(ban)):
    df.loc[df['班级']==ban[index]].to_excel(writer,sheet_name=ban[index],index=False)
#     df.loc[df['语文']>90].to_excel(writer,sheet_name=ban[index],index=False)
writer.save()
writer.close()

In [214]:
df[(df['语文']>50)&(df['数学']>70)&(df['英语']>60)]

,序号,学籍号,班级,姓名,年龄,性别,出生日期,语文,数学,英语,电话,邮箱,地址
10,272,15028,五1班,郭超,13,F,2009-12-16 07:20:35,65,82,69,14529496196,iren@22.net,云南省超县沙市太原街a座 708678
27,330,15414,五4班,王平,12,M,2013-05-06 09:17:14,92,99,75,14507419146,longjun@yahoo.com,山东省西宁县滨城蒋街n座 694535
53,36,15130,五2班,汪静,11,M,2012-01-28 16:24:50,54,78,69,15201250827,pingzhao@hotmail.com,广东省建平县东丽黄街U座 305863
58,277,16015,五3班,刘涛,13,M,2012-10-23 12:04:49,64,91,95,13882619661,zouyong@yahoo.com,西藏自治区刚县房山阜新街a座 602387
61,1,16160,五4班,胡龙,12,F,2013-04-17 07:59:38,51,75,94,18811872304,etian@hotmail.com,辽宁省秀云市吉区李街Z座 747369
93,132,16735,五1班,刘磊,13,F,2009-11-07 04:35:11,78,91,62,15274338412,pangang@gmail.com,黑龙江省晶市龙潭永安路L座 416848
94,205,15367,五4班,赖金凤,13,M,2013-05-27 07:52:49,51,76,64,13959250866,naxiao@gmail.com,江西省荣县牧野荆门路v座 820476

In [209]:
df[df['数学']>80].head()

,序号,学籍号,班级,姓名,年龄,性别,出生日期,语文,数学,英语,电话,邮箱,地址
7,243,16909,五2班,李娟,9,F,2011-08-01 17:07:13,55,82,41,13802284287,jun84@hotmail.com,新疆维吾尔自治区大冶县大东南昌路P座 199065
8,83,15972,五2班,苏秀芳,9,M,2010-07-10 14:57:47,92,86,43,13126733388,yanwang@yahoo.com,贵州省静市崇文巢湖街z座 153061
9,309,15687,五3班,李玉兰,11,F,2012-04-14 04:03:06,25,96,80,14565549824,ifan@uw.cn,上海市广州县大兴华路t座 689278
10,272,15028,五1班,郭超,13,F,2009-12-16 07:20:35,65,82,69,14529496196,iren@22.net,云南省超县沙市太原街a座 708678
19,126,16422,五4班,邓龙,12,F,2010-08-21 03:24:37,4,94,75,15846575141,junma@lai.cn,台湾省辽阳市浔阳王路q座 370486

In [210]:
df[df['英语']>80].head()

,序号,学籍号,班级,姓名,年龄,性别,出生日期,语文,数学,英语,电话,邮箱,地址
2,139,16806,五2班,赖雷,9,F,2010-12-23 09:32:32,60,46,96,13422788325,jieding@gmail.com,甘肃省鑫市沈河福州街r座 573483
3,254,15216,五2班,邵宁,9,F,2011-12-11 23:47:04,77,7,100,14557026347,xtao@hotmail.com,上海市兴安盟市城北嘉禾街S座 741765
12,277,16677,五3班,朱成,9,M,2011-05-27 09:09:56,70,7,91,15096288481,minguo@uu.cn,山东省贵阳市兴山朱路f座 173425
15,244,15132,五3班,刘莹,10,F,2012-11-27 12:30:33,49,19,85,15632347670,daixia@hotmail.com,广西壮族自治区婷县清城柳州路R座 246007
18,217,16458,五2班,向英,12,F,2009-08-06 19:36:36,52,30,90,15359408449,xiaojuan@hotmail.com,山西省鑫县锡山巢湖路M座 183294

In [220]:
import pandas as pd

df = pd.read_excel('./测试成绩表.xlsx')

ban=df['班级'].unique()

for index in range(len(ban)):

    file=ban[index]

    writer='./'+file+'.xlsx'

    df.loc[df['班级']==ban[index]].to_excel(writer,index=False)